body {
  width: 595px;
  margin: 0 auto;
  font-family: "Montserrat", Roboto, sans-serif
}
h3 h4 {
  font-weight: 500;
}
/* #region about */
.about {
  display:flex;
  background-color: #E25544;
  color: white;
  padding: 32px 40px 24px 40px;
}

.about__name {
  margin: 0;
  padding-bottom: 8px;
  font-size: 30px;
  font-weight: 600;
}

.about__position {
  margin: 0;
  padding-bottom: 8px;
  font-weight: 400;
  font-size: 12px;
}


.about__description {
  width: 351px;
  margin: 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
}

.about__photo {
  width: 114px;
  height: 114px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 50px;
}
/* #endregion */

.main {
  padding: 0 40px;
}

/* #region contacts */
.contacts {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  font-size: 10px;
}

.contacts__item {
  color: #485268;
  text-decoration: none;
}
/* #endregion */

.section {
  border-top: 1px solid #DEE2ED;
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
}

.section__title {
  margin: 0;
  color: #E25544;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}

.section__content {
  font-size: 10px;
  color: #485268;
  font-weight: 400;
  line-height: 15px;
}

.highlighted {
  font-weight:500;
}

.section__paragraph {
  display: block;
  width: 360px;
}